body{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    min-height: fit-content;
    min-width: fit-content;
    padding: .5rem;

}
/*Index Css Style Starts here*/
/*banner location line 14 on index html*/
.navbar{
    text-align: right;
    background-color: black;
    display: flex;
}
/*logo css*/
.logo-container{
    text-align: center;

}
.logo{
    width: fit-content;
    height: 10vh;
    padding: 5px;
    
}
/*nav bar style */
.navbar-links{
    width: 100%;
    margin: auto;
    padding: 25px 0;
    height: 8vh;
    background-color: black;
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: space-between;

}
.navbar-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
/*no decoration added to it and made text uppercase */
.navbar-links ul li a{
    text-decoration: none;
    color: #f0ece2;
    text-transform: uppercase;
}
/*applies a underline on text but is hidden and transition out when you hover over text*/
.navbar-links ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f0ece2;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;/*ensures the underline comes out in .5sec when you hover over the text*/
}
.navbar-links ul li:hover::after{
    width: 100%;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #f0ece2;
    border-radius: 15px;
}
/*Heading 1 and pargraph */
.H1{
    text-align: left;
    font-size: 40px;
    color: #f0ece2;
    margin: 10px 80px 10px 80px;
}

.paragraph1{
    
    text-align: justify;
    font-size: 25px;  
    color: #f0ece2;
    margin: 10px 80px 10px 80px;
}
/*image is in a flex-box plus paragrapgh */
.fragranceimg{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    
}

.img1.frg-summarry{
    flex: 1;  
}

.img1{
    height: 50vh;
    max-width: 100%;
}

.frg-summarry{
    text-align: justify;
    font-size: x-large;
    color: #f0ece2;
    font-weight: bold;
   
}
/*Heading 2 and paragraph*/

.allsaints-fashion{
    text-align: left;
    font-size: xx-large;
    color: #f0ece2;
    margin: 10px 80px 10px 80px;
}

.paragraph2{
    text-align: justify;
   font-size: x-large;
   color: #f0ece2;
   margin: 10px 80px 10px 80px;
   font-weight: bold;
}

.imgcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.fashion-p .sliders{
    flex: 1;
    justify-content: space-around;
    
}
/*start of slidshow of pictures */
.sliders{
    position: relative;
    max-width: 100%;/*applied max width to make sure it stays within the flexbox*/
    margin: auto;
    overflow: hidden;
}
.slides img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
    height: auto;
    width: 80%;
    margin: 0 auto;
}
.sliders button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 15px;
    background-color: black;
    color: #f0ece2;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.prev:hover .next:hover{
    background-color: rgba(0,0,0,0.8);
}
@keyframes fade{
    from{opacity: .5;}
    to{opacity: 1;}
}
.fashion-p{
    text-align: justify;
    margin-left: 90px;
    font-size: large;
    color: #f0ece2;
    
}
/*inputs of newsletter form */
.fllname-1{
    text-align: justify;
}
input.name{
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
    width: 40%;
    border: 1px solid #999;
    outline: none;
}
input.email{
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
    width: 40%;
    border: 1px solid #999;
    outline: none;
}
input.number{
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
    width: 40%;
    border: 1px solid #999;
    outline: none;
}
.inpt-send{
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: left;

}
/*newsletter number/submit input*/
.label-number{
    flex: 1;
      
}
.send{
    padding: 20px 20px; /* Adjust padding as needed */
    border-radius: 20px;
    border: none;
    
}

.send:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* newsletter button starting point*/
.newsform{
    text-align: center;
}
button.nws-form{
    color: gray;
    max-width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0 ;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px;
}
/*position the pop up in the middle*/
.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out; 
    border: 1px solid white;
    border-radius: 15px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.pop-up.active{
    transform: translate(-50%, -50%) scale(1);
}
/*header and close button of pop up*/
.popup-header{
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.popup-header .header{
    font-size: 1.5rem;
    font-weight: bold;
    
}
button.close-btn{
    border: none;
    outline: none;
    cursor: pointer;/*when hover over the close button switches mouse defualt to cursur*/
    background: none;
    font-size: 1.5rem;
    font-weight: bold;

}
.popup-body{
    padding: 10px 15px;
}
/*overlay for background when pop up opens*/
#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
.newslP{
    text-transform: uppercase;
    
}
/*arrow back to the top*/
#backtoTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: #f0ece2;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}
#backtoTop:hover{
    background-color: #f0ece2;
}


/*Contact Css Style Starts Here*/

/*container for chat,email and help center support*/
.help-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}
.help-box{
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
.help-heading{
    font-weight: bold;
    color: #f0ece2;
    text-decoration: underline;
}
.help-p{
    color: #f0ece2;
    text-align: justify;
}
.help-link{
    text-decoration: underline;
    color: #f0ece2;
    font-weight: bold;
}
/*flex contact with image*/
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    
}
.contact-form .contact-bckground{
    flex: 1;
}
.contact-form{
    right:0;
}
.label-contact{
    color: #f0ece2;
    font-size: 60px;
    margin-left: 15%;
}

.mysubmit{
    border: 4px none white;
    border-radius: 12px;
    padding: 25px;
    cursor: pointer;margin-left: 15%;
}

.myinput{
    border: 4px none white;
    border-radius: 12px;
    padding: 15px;margin-left: 15%;
}

textarea{
    border: 4px solid white;
    border-radius: 12px;
    padding: 15px;
    height: 10vh;margin-left: 15%;
}
.background-image{
   max-width: 50%;
   height: fit-content;
   margin: 0% auto;
   padding: 20px;
}
/* About Us CSS Style Starts Here*/
.abt-container{
    height: fit-content;
    text-align: center;
}
.Abt-us{
    color: #f0ece2;
    font-size: 69px;

}
.intro-container{
    text-align: center;
}
.intro{
    color: #f0ece2;
    font-size: 30px;

}
.intro-p{
    color: #f0ece2;
    font-size: 25px;
}
.maps{
    text-align: center;
}
.address{
 color: #f0ece2;
}
.add{
    color: #f0ece2;
}
/*Products CSS Style Starts Here*/
.parfum-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    position: relative;
}

.image-container {
    position: relative; /* Ensure proper positioning */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image-container img{
    height: 450px;
    width: 100%;
}
.image-container:hover img{
    transform: scale(1.1); /*Enlarges image when you hover */
}
/* targets only the image for hover effect */
.image-container:hover .image-overlay {
    opacity: 1;
    pointer-events: auto;
    
}

.image-overlay p {
    color: white;
    font-size: 16px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 5px; /* Rounded corners */
    margin-top: auto; /* Push text to the bottom */
}
.p{
    padding: 30px;
    background-color: black;
    border: solid white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #f0ece2;
} 
.parfum-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    position: relative;
}
/*Footer Style*/
.footer-container{
    
    padding: 1%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: black;
    text-align: center;
}
.footer{
    padding: 10px;
    
}
.spn1{
    padding: 20px;
    color: #f0ece2;
    
}

.links{
    display: flex;
    margin: auto;
    padding: 30px;
    justify-content: center;
    align-items: end;
    bottom: 0;
}
.instagram-logo{
    height: 5vh;
    width: 60px;
}
.fb-logo{
    height: 5vh;
    width: 60px;
}
.twitter-logo{
    height: 5vh;
    width: 60px;
}


@media all and (min-width:960px) and (max-width: 1024px) {
    
    body{
        margin: 15px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        min-height: fit-content;
        min-width: fit-content;
        padding: .5rem;
    
    }
}

@media all and (min-width:801px) and (max-width: 959px) {
    /* put your css styles in here */
    body{
        margin: 15px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        min-height: fit-content;
        min-width: fit-content;
        padding: .5rem;
    
    }
}
  
@media all and (min-width:769px) and (max-width: 800px) {
    /* put your css styles in here */
    body{
        margin: 15px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        min-height: fit-content;
        min-width: fit-content;
        padding: .5rem;
    
    }
}
  
@media all and (min-width:569px) and (max-width: 768px) {
    /* put your css styles in here */
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        min-height: fit-content;
        min-width: fit-content;
        padding: .5rem;
    
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        padding: 30px;
    }
    .navbar-links li{
        text-align: center;
        padding: 5px;
        
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
        text-align: center;
        
    }
    #location{display: none;}
}
  
@media all and (min-width:481px) and (max-width: 568px) {
    /* put your css styles in here */
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        min-height: fit-content;
        min-width: fit-content;
        padding: .5rem;
    
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        padding: 30px;
    }
    .navbar-links li{
        text-align: center;
        padding: 5px;
        
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
        text-align: center;
        
    }
    #location{display: none;}
}
  
@media all and (min-width:321px) and (max-width: 480px) {
    /* put your css styles in here */
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        min-height: fit-content;
        min-width: fit-content;
        padding: .5rem;
    
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        padding: 30px;
    }
    .navbar-links li{
        text-align: center;
        padding: 5px;
        
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
        text-align: center;
        
    }
    #location{display: none;}
}
  
@media all and (min-width:0px) and (max-width: 320px) {
    /* put your css styles in here */
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        min-height: fit-content;
        min-width: fit-content;
        padding: .5rem;
    
    }
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        padding: 30px;
    }
    .navbar-links li{
        text-align: center;
        padding: 5px;
        
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
        text-align: center;
        
    }
    #location{display: none;}
}