body{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}
/*Index Css Style Starts here*/
/*banner location line 14 on index html*/
.banner{
    text-align: right;
    background-color: black;
    display: flex;
}
/*logo css*/
.logo{
    width: fit-content;
    height: 20vh;
    
}
/*nav bar style */
.navbar{
    width: 100%;
    margin: auto;
    padding: 25px 0;
    height: 8vh;
    background-color: black;
    background-size: cover;
    display: inline-block;
    align-items: center;
    justify-content: space-between;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
/*no decoration added to it and made text uppercase */
.navbar ul li a{
    text-decoration: none;
    color: #f0ece2;
    text-transform: uppercase;
}
/*applies a underline on text but is hidden and transition out when you hover over text*/
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f0ece2;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
/**/
.H1{
    text-align: left;
    font-size: 40px;
    color: #f0ece2;
}
.paragraph1{
    
    text-align: justify;
    font-size: 25px;  
    color: #f0ece2;
}
.shortsummary1{
    margin: 15;
}
/**/
.fragranceimg{
    
    display: flex;
    
}
.img1.frg-summarry{
    flex: 1;
}
.img1{
    height: 500px;
    width: fit-content;
    padding-left:90px ;

}
.frg-summarry{
    text-align: justify;
    margin-left: 300px;
   font-size: x-large;
   color: #f0ece2;
}
/**/
.allsaints-fashion{
    text-align: left;
    font-size: xx-large;
    color: #f0ece2;
}
.fashion1{
    padding: 10px 40px 40px 10px;
}
.paragraph2{
    text-align: justify;
   font-size: x-large;
   color: #f0ece2;
}
.imgcontainer{
    display: flex;
    
}
.fashion-p .sliders{
    flex: 1;
    justify-content: space-around;
    
}
/*start of slidshow of pictures */
.sliders{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slides img{
    width: 50%;
    display: none;
}
.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
    height: 200px;
    width: 50%;
    margin: 0 auto;
}
.sliders button{
    position: absolute;
    top: 50%;
    transform: translate(50%);
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #bbb;
    color: #f0ece2;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.prev:hover .next:hover{
    background-color: rgba(0,0,0,0.8);
}
@keyframes fade{
    form{opacity: .4;}
    to{opacity: 1;}
}
.fashion-p{
    text-align: justify;
    margin-left: 90px;
    font-size: large;
    color: #f0ece2;
}
/*inputs of newsletter form */
.fllname-1{
    text-align: justify;
}
input.name{
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
    width: 40%;
    border: 1px solid #999;
    outline: none;
}
input.email{
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
    width: 40%;
    border: 1px solid #999;
    outline: none;
}
input.number{
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
    width: 40%;
    border: 1px solid #999;
    outline: none;
}
.inpt-send{
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: left;

}
/*div for label*/
.label-number{
    flex: 1;
      
}
input[type="submit"] {
    padding: 20px 20px; /* Adjust padding as needed */
   
}

/* newsletter button starting point*/

button.nws-form{
    color: grey;
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0 ;
    border: none;
    outline: none;
    cursor: pointer;
    
}
.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 10;
    background-color: grey;
    width: 500px;
    max-width: 80%;
}
.pop-up.active{
    transform: translate(-50%, -50%) scale(1);
}
.popup-header{
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
.popup-header .header{
    font-size: 1.5rem;
    font-weight: bold;
    
}
button.close-btn{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;

}
.popup-body{
    padding: 10px 15px;
}
/*overlay for background when pop up opens*/
#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
.newslP{
    text-transform: uppercase;
    
}
/*footer style for all pages*/
.footer-container{
    
    padding: 20px;
    background-color: black;

}
.footer-left{
    text-align: center;
    color: white;
    justify-content: space-between;
}

.fb-logo{
    height: 30px;
    width: 40px;
}
.twitter-logo{
    height: 30px;
    width: 30px;
}
.instagram-logo{
    height: 30px;
    width: 40px;
}
.spn1{
    color: white;
}
/*Contact Css Style Starts Here*/
.contact{
    height: 50vh;
    text-align: justify;
}
.label-contact{
    color: #f0ece2;
    font-size: 80px;
    text-align:left;
    margin-left: 350px;
}
input{
    border: 4px none white;
    border-radius: 12px;
    padding: 15px;
    margin-left: 350px;
}
textarea{
    border: 4px solid white;
    border-radius: 12px;
    padding: 15px;
    height: 10vh;
    margin-left: 350px;
}
.img-bck{
    text-align: center;
}

/* About Us CSS Style Starts Here*/
.abt-container{
    height: 20vh;
    text-align: center;
}
.Abt-us{

    text-align: center;
    color: #f0ece2;
    font-size: 69px;

}

.intro{
    text-align: center;
    color: #f0ece2;
    font-size: 30px;

}
.intro-p{
    text-align: center;
    color: #f0ece2;
    font-size: 25px;
}
.maps{
    text-align: center;
}
.address{
 color: #f0ece2;
}
.add{
    color: #f0ece2;
}
/*Products CSS Style Starts Here*/
.parfum{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    
}
details{
    color: #f0ece2;
}
a{
    color: #f0ece2;
}
.incense{
    height: 44vh;
}
.sunset{
    height: 44vh;
}
.metal-wave{
    height: 44vh;
}
.parfum-2{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.leather-skies{
    height: 44vh;
}
.flora-mortis{
    height: 44vh;
}
.concrete-rain{
    height: 44vh;
}